.like-buttons {
  display: flex;
  justify-content: center;
}

.like__yes {
    color: green;
    padding: 0;
    border: none;
    background: none;
    margin-right: 60px;
    margin-bottom: 30px;
}

.like__yes:focus {
    outline: none;
}
