.like-buttons {
  display: flex;
  justify-content: space-around;
}

.like__yes, .like__no {
    padding: 0;
    border: none;
    background: none;
    transition: transform 200ms ease-in;
    margin-bottom: 2rem;
}

.like__yes {
    color: green;
}

.like__no {
    color: red;
}

.like__yes:focus, .like__no:focus {
    outline: none;
}

.like__yes:hover, .like__no:hover {
    transform: scale(1.2);
}
