.like-buttons {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.like {
  width: 14vw;
  height: 5vh;
  border-radius: 5px;
  margin-top: 2vh;
}

.like__yes {
  background-color: green;
}

.like__yes:hover {
  transition: 0.3s;
  background-color:rgba(0,255,0,0.3);
}

.like__yes:focus {
    outline: none;
}
