 .like__match {
    color: #e88b12;
    padding: 0;
    border: none;
    background: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like__match:focus {
    outline: none;
}

.match-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
