/* .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.go-back {
    margin-top: 20px;
}

.logout-button {
    display: flex;
    justify-content: center;
}

.table-item {
  text-align: center;
  padding: 15px;
  width: 30vw;
}

.match-header {
  text-align: center;
} */
