.like-buttons {
  display: flex;
  justify-content: space-around;
}

.like__yes, .like__no, .like__match {
    padding: 0;
    border: none;
    background: none;
    transition: transform 200ms ease-in;
    margin-bottom: 2rem;
}

.like__yes {
    color: #08a81b;
}

.like__no {
    color: #d10606;
}

.like__match {
   color: #e88b12;
}

.like__yes:focus, .like__no:focus, .like__match:focus {
    outline: none;
}

.like__yes:hover, .like__no:hover {
    transform: scale(1.2);
}

.like__match:hover {
    transform: rotate(360deg);
    transition: all 0.8s ease-in-out 0.4s;
}
