.Board {
 display: flex;
 justify-content: center;
 height: 15em;
 align-items: flex-end;
 border: 5px solid #ccc;

}

.image {
  display: flex;
  justify-content: center;
}

.like:hover {
 background-color: #eee;
}
